.services-details-page .section-1 {
    background: url('../../images/blue-shape.png') no-repeat 110% 30% /auto;
}

.services-details-image {
    width: 100%;
    max-width: 700px;
}

.therapist-image {
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
}

.service-info-div li {
    list-style: square inside url("https://i.postimg.cc/nhbRr6wy/bullet-point-orange.png");
}


/* ---------- Media Query ------------- */
@media (max-width: 576px) {
    .services-details-page .section-1 {
        background: url('../../images/blue-shape.png') no-repeat 120% 50% /50%;
    }
}