.hero-left {
    z-index: 1;
    background: url('../../../images/HomePage-Hero.jpg') no-repeat center center /cover;
}

.hero-left div {
    min-height: 75vh;
}

.hero-right div {
    max-width: 750px;
    padding: 100px 50px 0 100px;
}

.shapes-div {
    margin-top: -200px;
    overflow-x: hidden;
}

.egg-shape {
    z-index: 0;
    width: 424px;
    height: 355px;
    background-color: var(--pink);
    border-radius: 40% 60% 60% 40%/50%;
}

.triangle-shape {
    z-index: 0;
    width: 275px;
    height: 290px;
    background-color: var(--yellow);
    border-radius: 75% 29% 22% 74% / 65% 20% 24% 48%;
    margin-right: -90px;
}


/* --------- Media Query -------------- */
@media (max-width: 576px) {
    .hero-left div {
        min-height: 30vh;
    }

    .shapes-div {
        margin-top: 0px;
    }

    .hero-right div {
        padding: 50px 0 0;
    }
}