/* Utility Classes */
.bg-cream {
  background-color: var(--cream);
}

.bg-transparent {
  background-color: #ffffff00;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.text-grey {
  color: var(--grey);
}

.theme-button {
  text-decoration: none;
  border: 0;
  border-left: 2px solid var(--black);
  border-right: 2px solid var(--black);
  background: #ffffff00;
  color: var(--black);
  font-size: 20px;
  text-transform: capitalize;
  padding: 8px 15px;
}

.theme-button:hover {
  border-left: 2px solid var(--grey);
  border-right: 2px solid var(--grey);
  color: var(--grey);
}

li {
    list-style: square inside url("https://i.postimg.cc/nhbRr6wy/bullet-point-orange.png");
}

.py-6 {
  padding: 100px 0;
}

.pt-6 {
  padding-top: 100px;
}

.pb-6 {
  padding-bottom: 100px;
}